POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=smarthome

DEVICE_PORT=8082
TELEMETRY_PORT=8083

DEVICE_DEFAULT_HOUSE_ID=01932c4e-8a1d-7222-8333-3c6d7e8f9012
DEVICE_DEFAULT_TYPE_ID=01932c4e-8a1c-7111-8222-2b5c6d7e8f90

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
